.App {
  background-color: bisque;
}
nav{
  color: darkmagenta;
  font-size: 1.5rem;
  width:60rem;
  height: 4rem;
  margin:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
  overflow-y: auto;
}

.art{
  width:40rem;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  box-shadow:0 0 3px #000;
  border-radius: 10px;
}
.img{
  width:100%;
}
.img>img{
  width:100%;
}
.add{
  width:40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding:2rem;
  /* flex-direction: column; */
}
input{
  display: block;
  margin-bottom:2rem;
  width:30rem;
  height:2rem;
}
.likes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding:2rem;
  font-size: 1.5rem;
  /* flex-direction: column; */
}
