body{
  background-color: honeydew;
}
.App {
  text-align: center;
  color: black ;
}
.home input{
  background-color: whitesmoke;
  border: 1px solid bisque;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  width: 300px;
}
nav{
  font-size: 1.5rem;
  font-weight: bold;
  width:60rem;
  height: 4rem;
  margin:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.home{
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 92vh;
  overflow-y: auto;
}

.art{
  width:40rem;
  background-color: whitesmoke;
  margin: 1rem;
  padding: 1rem;
  box-shadow:0 0 3px #000;
  border-radius: 10px;
}
.img{
  width:100%;
}
.img>img{
  width:100%;
}
.add{
  width:40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding:2rem;

}
input{
  display: block;
  margin-bottom:2rem;
  width:30rem;
  height:2rem;
}
.likes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding:2rem;
  font-size: 1.5rem;
}

.about{
  width:40%;
  margin: auto;
  padding: 2rem;
}
